/* Styles globaux du site */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--bs-primary); /* couleur globale texte + icônes */
  background-color: var(--bs-light); /* couleur de fond générale du site */
}

/* Titres */
h1 {
  font-weight: 600; /* semi-bold */
  color: var(--bs-dark);
  font-size: 26px;
}

/* Sous-titres */
h2 {
  font-weight: 500; /* medium */
  color: var(--bs-primary);
  font-size: 20px;
}

/* Boutons principaux du site */
.btn-primary {
  background-color: var(--color-button);
  border-color: var(--color-button);
  color: var(--bs-secondary); /* texte marron */
  font-weight: 500;
}

/* Hover */
.btn-primary:hover {
  background-color: var(--color-button);
  border-color: var(--color-button);
  opacity: 0.85;
  color: var(--bs-secondary);
}

/* Les liens et icônes héritent de la couleur du parent */
a,
i {
  color: inherit;
}

/* Image produit coup de cœur  */
.product-highlight-img {
  max-width: 400px;
}
