/* Styles globaux du site */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--bs-primary); /* couleur globale texte + icônes */
  background-color: var(--bs-light); /* couleur de fond générale du site */
}

/* Titres */
h1 {
  font-weight: 600; /* semi-bold */
  color: var(--bs-dark);
  font-size: 26px;
  text-transform: uppercase;
}

/* Sous-titres */
h2 {
  font-weight: 500; /* medium */
  color: var(--bs-primary);
  font-size: 20px;
}

/* Les liens et icônes héritent de la couleur du parent */
a,
i {
  color: inherit;
}

/* Image produit coup de cœur  */
.product-highlight-img {
  max-width: 400px;
}

/* BEST SELLER image page d'accueil */
.bestseller-img-small {
  max-height: 120px;
  object-fit: contain;
}

.bestseller-img-large {
  max-height: 220px;
  object-fit: contain;
}

/* CARTES CATÉGORIES (CATALOGUE) */
.category-card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 2px 8px var(--color-shadow-card);
}

/* Effet au survol des cartes catégories */
.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px var(--color-shadow-card);
}

/* Image dans les cartes catégories */
.category-card-img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}
.category-card,
.admin-card {
  min-height: 320px;
}

/* Cartes catégories pages admin */
.admin-card-img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

.admin-card-title {
  color: var(--bs-dark);
}
.admin-card {
  box-shadow: 0 2px 8px var(--color-shadow-card);
  transition: none;
}

.admin-no-hover:hover {
  transform: none !important;
  box-shadow: 0 2px 8px var(--color-shadow-card) !important;
}
/* CARTES PRODUITS (PUBLIC) */
.product-card {
  background-color: var(--bs-secondary);
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--color-shadow-card);
}

/* Titre du produit */
.product-title {
  font-size: 1.1rem;
  color: var(--bs-dark);
}

/* Prix du produit */
.product-price {
  font-weight: bold;
}

/* Bouton "voir plus" produit */
.product-btn-more {
  width: 90px;
  height: 90px;
  background-color: var(--color-button);
  color: var(--bs-light);
  font-size: 0.7rem;
  text-decoration: none;
  padding: 10px;
}

.product-btn-more:hover {
  color: var(--bs-light);
}

/* Bouton "voir plus" produit */
.product-image {
  max-height: 120px;
  object-fit: contain;
}

/* FORMULAIRES — SELECT */
/* Personnalisation de la flèche du select */
.form-select {
  color: var(--bs-primary);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline points='4,6 8,10 12,6' fill='none' stroke='%23a2845e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
